{% extends 'backbone_calendar/base.html' %}

{% load i18n %}
{% load backbone_calendar %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <div id="calendar"></div>
    </div>
    <div class="col-md-3">
        {% block calendar-nav %}

        {% endblock %}
    </div>
</div>

{% if editable_calendar %}
{% load bootstrap3 %}
<div id="calendar-event-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="calendar-event-dialog-title"
                    data-new="{% trans 'Add event' %}" data-edit="{% trans 'Edit event' %}">
                </h4>
            </div>
            <div class="modal-body">
                <form method="post" action="#">
                    {% bootstrap_form calendar_event_form %}        
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                <button type="button" class="btn btn-primary" id="calendar-event-dialog-ok">{% trans 'OK' %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
{% endblock %}

{% block stylesheets %}
{{ block.super }}
{% calendar_stylesheets %}
{% endblock %}

{% block javascripts %}
{{ block.super }}
{% calendar_javascripts editable=editable_calendar %}
{% endblock %}
