{% extends 'backbone_calendar/calendar_view_common.html' %}

{% load i18n %}

{% block title %}
{% blocktrans %}{{ place }} Calendar{% endblocktrans %}
- {{ block.super}}
{% endblock %}

{% block calendar-nav %}
<ul class="list-group">
    {% for agenda in calendar.agendas.all %}
    <li class="list-group-item">
        <span class="badge" data-id="{{ agenda.pk }}">0</span>
        {{ agenda }}
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var calendar = {
        csrf_token: '{{ csrf_token }}',
        url_root: '{% url 'backbone:backbone_calendar_event' %}',
        agendas: [{{ calendar.agenda_pks|join:"," }}, ],
    };
</script>
{{ block.super }}
{% endblock %}
