{% extends 'backbone_calendar/calendar_view_common.html' %}

{% load i18n %}

{% block title %}
{% blocktrans %}{{ place }} Calendar{% endblocktrans %}
- {{ block.super}}
{% endblock %}

{% block calendar-nav %}
<div class="list-group">
    {% for agenda in calendar.agendas.all %}
    <a href="#" class="list-group-item agenda-item active" data-id="{{ agenda.pk }}">
        <span class="badge">0</span>
        {{ agenda }}
    </a>
    {% endfor %}
</div>
<p class="well">
    <a href="{% url 'calendar-ical' calendar_slug=calendar.slug %}"
        class="btn btn-success"
        >
        {% trans 'Download iCalendar file (.ics)' %}
    </a>
</p>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var calendar = {
        csrf_token: '{{ csrf_token }}',
        url_root: '{% url 'backbone:backbone_calendar_event' %}',
        agendas: [{{ calendar.agenda_pks|join:"," }}, ],
    };
</script>
{{ block.super }}
{% endblock %}
