{% extends 'backbone_calendar/calendar_view_common.html' %}

{% load i18n %}

{% block title %}
{% blocktrans %}Planning for {{ place }}{% endblocktrans %}
- {{ block.super}}
{% endblock %}

{% block calendar-nav %}
<p class="well">
    <a href="{% url 'planning-ical' place_slug=place.slug %}"
        class="btn btn-success"
        >
        {% trans 'Download iCalendar file (.ics)' %}
    </a>
</p>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    var calendar = {
        csrf_token: '{{ csrf_token }}',
        url_root: '{% url 'backbone:backbone_calendar_event' %}',
        places: [{{ place.pk }}, ],
    };
</script>
{{ block.super }}
{% endblock %}
