{% load static %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}libs/fullcalendar/css/v2/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}libs/fullcalendar/css/v2/fullcalendar.print.css" media="print" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}libs/jquery/css/themes/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}libs/jquery/css/themes/jquery-ui.timepicker.addon.css" />
